body {
	background-color: #EDEADE;
	font-family: "Gill Sans", sans-serif;
}

h1 {
	letter-spacing: 5px;
	color: #f1a93c;
}

#searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
}

#firstButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.bx {
	font-size: 20px;
}

button {
	background-color: #f1a93c;
	color: black;
	border: 0;
	border-radius: 15px;
	height: 30px;
	width: 100px;
	margin: 0 10px;
	font-size: 11px;
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexCenter {
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lastDiv {
	margin-top: 10px;
}

#wordPopulation {
	margin-top: 10px;
}

#inputBar {
	border-radius: 20px;
	border: 0;
	padding: 4px 20px;
	width: 650px;
	height: 25px;
	outline: none;
}

#countries {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#inputDetail {
	color: #f1a93c;
	font-family: cursive;
}